---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="2paZP9z8K3Rle5ajEMk9VWV5P", oauth_nonce="5a39f6841a2fadffb7d189bfc50cc3c7",
        oauth_signature="A999G7NCeltakGUU21SatsLEXko%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455413732", oauth_token="4901198484-eLlI7MRaw2bMHZoZaRGjZDlioOvH3p8jGYmkJ7O",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 14 Feb 2016 01:35:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 2733776f20af0c4703d7209ef8bd7e1a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1455414289'
      X-Response-Time:
      - '84'
      X-Transaction:
      - abb73ad3ca59f4a9
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":4901198484,"id_str":"4901198484","name":"spectest","screen_name":"spectest__","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":0,"friends_count":5,"listed_count":0,"created_at":"Sat
        Feb 13 09:34:37 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/698441247686459392\/td3IxWHW_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/698441247686459392\/td3IxWHW_normal.jpg","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 14 Feb 2016 01:35:32 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&user_id=4901198484
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="2paZP9z8K3Rle5ajEMk9VWV5P", oauth_nonce="98cd12bdbb49327396254454506786a5",
        oauth_signature="5fr1aVXQYdkPzxFtOHqIVt9CK4I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455413732", oauth_token="4901198484-eLlI7MRaw2bMHZoZaRGjZDlioOvH3p8jGYmkJ7O",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 14 Feb 2016 01:35:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 1c436071714795bdd14027abc7e78923
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1455414291'
      X-Response-Time:
      - '60'
      X-Transaction:
      - 475f8b3dd90e62c0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"users":[{"id":799811712,"id_str":"799811712","name":"\u5948\u826f\u5e02\u3000\u5371\u6a5f\u7ba1\u7406\u8ab2","screen_name":"naracity_bosai","location":"","description":"\u5948\u826f\u5e02\u5371\u6a5f\u7ba1\u7406\u8ab2\u306e\u516c\u5f0f\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\u3002\u5948\u826f\u5e02\u306b\u304a\u3051\u308b\u707d\u5bb3\u60c5\u5831\u306e\u4f1d\u9054\u3084\u8eab\u8fd1\u306a\u9632\u72af\u30fb\u9632\u707d\u30fb
        \u6e1b\u707d\u60c5\u5831\u306a\u3069\u3092\u767a\u4fe1\u3057\u307e\u3059\u3002\u5f53\u30a2\u30ab\u30a6\u30f3\u30c8\u3078\u306e\u30ea\u30d7\u30e9\u30a4\u3001\u30ea\u30c4\u30a4\u30fc\u30c8\u3001\u30c0\u30a4\u30ec\u30af\u30c8\u30e1\u30c3\u30bb\u30fc\u30b8\u306a\u3069\u3092\u901a\u3058\u305f\u3054\u610f\u898b\u3084\u304a\u554f\u3044\u5408\u308f\u305b\u306b\u5bfe\u3057\u3066\u306f\u3001\u539f\u5247\u500b\u5225\u306b\u5bfe\u5fdc\u3057\u3066\u304a\u308a\u307e\u305b\u3093\u3002\u307e\u305f\u3001\u539f\u5247\u30d5\u30a9\u30ed\u30fc\u306f\u3057\u3066\u304a\u308a\u307e\u305b\u3093\u3002","url":"http:\/\/t.co\/X5HlH2kkOK","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/X5HlH2kkOK","expanded_url":"http:\/\/www.city.nara.lg.jp\/www\/genre\/0000000000000\/1000000000413\/index.html","display_url":"city.nara.lg.jp\/www\/genre\/0000\u2026","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":801,"friends_count":0,"listed_count":43,"created_at":"Mon
        Sep 03 07:05:48 +0000 2012","favourites_count":0,"utc_offset":32400,"time_zone":"Osaka","geo_enabled":false,"verified":true,"statuses_count":190,"lang":"ja","status":{"created_at":"Tue
        Feb 09 06:44:41 +0000 2016","id":696947812852965377,"id_str":"696947812852965377","text":"\u3010\u7d9a\u5831\u3011\u5348\u5f8c\uff12\u6642\uff11\uff10\u5206\u3053\u308d\u767a\u751f\u306e\u3072\u3063\u305f\u304f\u308a\u306f\u3001\u5948\u826f\u5e02\u4e09\u7893\uff12\u4e01\u76ee\u306e\u56db\u5929\u738b\u5bfa\u6a4b\u6771\u8a70\u4ea4\u5dee\u70b9\u4ed8\u8fd1\u8def\u4e0a\u306b\u304a\u3044\u3066\u767a\u751f\u3057\u3066\u3044\u307e\u3059\u3002\n\u6b69\u884c\u4e2d\u306e\u5973\u6027\u306e\u5f8c\u65b9\u304b\u3089\u6765\u305f\u539f\u4ed8\u30d0\u30a4\u30af\u4e57\u8eca\u306e\u72af\u4eba\u304c\u3001\u53f3\u80a9\u306b\u639b\u3051\u3066\u3044\u305f\u30ea\u30e5\u30c3\u30af\u30b5\u30c3\u30af\u3092\u3072\u3063\u305f\u304f\u308a\u9003\u8d70\u3057\u3066\u3044\u307e\u3059\u3002\n\u4e0d\u5be9\u306a\u4eba\u7269\u3092\u76ee\u6483\u3055\u308c\u305f\u5834\u5408\u306f\u3001\uff11\uff11\uff10\u756a\u901a\u5831\u3092\uff01","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":9,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2575219545\/p7gb131dn4kufh4jz65t_normal.gif","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2575219545\/p7gb131dn4kufh4jz65t_normal.gif","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":1687008072,"id_str":"1687008072","name":"Fukuicity_Bosai_Info","screen_name":"Fukuicity_Bosai","location":"","description":"\u798f\u4e95\u5e02\u306b\u95a2\u3059\u308b\u6c17\u8c61\u60c5\u5831\u3001\u907f\u96e3\u60c5\u5831\u306a\u3069\u306e\u707d\u5bb3\u60c5\u5831\u3001\u6709\u5bb3\u9ce5\u7363\u60c5\u5831\u3001\u5927\u6c17\u60c5\u5831\u3092\u968f\u6642\u914d\u4fe1\u3057\u307e\u3059\u3002\uff08\u798f\u4e95\u5e02\u5f79\u6240\u3000\u5371\u6a5f\u7ba1\u7406\u5ba4\uff09","url":"http:\/\/t.c[...]
