*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
files/

.idea
*.iml
.ruby-version
*.p12
*.xlsx
*.xls
*.pptx
/*_config.yml
td-agent*.conf
/*.csv
.DS_Store